body{
    background-color: #333333 !important;
}

.fonts{
    font-family: "Comfortaa", sans-serif;
}

#title_div{
    margin-top: 3%;
}

hr {
    color: rgb(255, 255, 255) !important;
}

#line_one{
    border-right: 1px solid black;
}

.numbers{
    text-align: center;
    color: white;
    font-size: 20;
}

.ncircle1{
    background-color: #D16CA7;
    border-radius: 50%;
    padding: 34px 41px 34px 41px;
    /* box-shadow: 0px 0px 5px 5px #D16CA7; */
    outline: 1px solid #D16CA7;
}

.ncircle{
    background-color: #D16CA7;
    border-radius: 50%;
    padding: 35px 40px 35px 40px;
    /* box-shadow: 0px 0px 5px 5px #D16CA7; */
    outline: 1px solid #D16CA7;
}

.vline{
    background-image: linear-gradient(#D16CA7, #D16CA7);
    background-size: 4px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#title_text{
    color:#D16CA7;
    font-size: 75px;
}

#period{
    color: white;
}

#intro_div{
    margin-top: 1%;
}

#intro_text{
    color:white;
    font-size: 15px;
}

#step1{
    margin-top: 4%;
}

.wireframeTitle{
    color: white;
    font-size: 20px;
}

.wireframePink{
    color: #D16CA7;
}

.wireframeText{
    color:white;
    font-size: 15px;
}


.wireframeImage {
    width: 100%;
    height: auto;
}

#step2{
    margin-top: 4%;
}

#step3{
    margin-top: 4%;
}

#waitingListDiv{
    margin-top: 5%;
    margin-bottom: 5%;
}
#waitingListTitle{
    color: white;
    font-size: 30px;
}
#waitingListPink{
    color: #D16CA7;
}

#footer_div{
    margin-top: 7%;
    margin-bottom: 5%;
}

#footer_text{
    color:#D16CA7;
    font-size: 75px;
}

#form {
    font-family: "Comfortaa", sans-serif;
    color: white;
    font-size: 10px;
    background-color: #616161;
    padding: 30px;
    padding-bottom: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 3px 3px 5px rgb(39, 39, 39);
}

#form label{
    padding-left: 15px;
}

#form input[type="submit"] {
    float: right; /* Ensures only the button is aligned to the right */
    background-color: #D16CA7;
    border-color: #D16CA7;
    font-size: 10px;
    width: 350px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#form input[type="text"] {
    border-color: white;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#output{
    text-align: center;
}

@media(max-width: 767px) {
    .wireframeImage{
        width: 100%;
        height: auto;
    }
}